.site-footer
  .container
    .row.mb-5
      .col-md-4
        %h3.footer-heading.mb-4 About Us
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.
      .col-md-3.ml-auto
        / <h3 class="footer-heading mb-4">Navigation</h3>
        %ul.list-unstyled.float-left.mr-5
          %li
            %a{:href => "#"} About Us
          %li
            %a{:href => "#"} Advertise
          %li
            %a{:href => "#"} Careers
          %li
            %a{:href => "#"} Subscribes
        %ul.list-unstyled.float-left
          %li
            %a{:href => "#"} Travel
          %li
            %a{:href => "#"} Lifestyle
          %li
            %a{:href => "#"} Sports
          %li
            %a{:href => "#"} Nature
      .col-md-4
        %div
          %h3.footer-heading.mb-4 Connect With Us
          %p
            %a{:href => "#"}
              %span.icon-facebook.pt-2.pr-2.pb-2.pl-0
            %a{:href => "#"}
              %span.icon-twitter.p-2
            %a{:href => "#"}
              %span.icon-instagram.p-2
            %a{:href => "#"}
              %span.icon-rss.p-2
            %a{:href => "#"}
              %span.icon-envelope.p-2
    .row
      .col-12.text-center
        %p
          Copyright ©
          2019 - 

          #{Time.now.year}

          All rights reserved | World`s Blog
          by
          %a{:href => "https://facebook.com", :target => "_blank"} LIRAJ MAHARJAN