/ Sidebar
%ul.sidebar.navbar-nav.float-left
  %li.nav-item.active
    %a.nav-link{:href => "index.html"}
      %i.fas.fa-fw.fa-tachometer-alt
      %span Dashboard
  %li.nav-item.dropdown
    %a#pagesDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      %i.fas.fa-fw.fa-folder
      %span Pages
    .dropdown-menu{"aria-labelledby" => "pagesDropdown"}
      %h6.dropdown-header Login Screens:
      %a.dropdown-item{:href => "login.html"} Login
      %a.dropdown-item{:href => "register.html"} Register
      %a.dropdown-item{:href => "forgot-password.html"} Forgot Password
      .dropdown-divider
      %h6.dropdown-header Other Pages:
      %a.dropdown-item{:href => "404.html"} 404 Page
      %a.dropdown-item{:href => "blank.html"} Blank Page
  %li.nav-item
    %a.nav-link{:href => "charts.html"}
      %i.fas.fa-fw.fa-chart-area
      %span Charts
  %li.nav-item
    %a.nav-link{:href => "tables.html"}
      %i.fas.fa-fw.fa-table
      %span Tables